/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #9BC1BC;
    text-align: center;
    width: 80%; /* Este ancho se aplica a todo el cuerpo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Encabezado */
header {
    background-color: #9BC1BC;
    height: 100px;
}

/* Navegación */
nav {
    height: 80px;
    background-color: #9BC1BC;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0; /* Abreviación de margin-left y margin-right */
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #E6EBE0;
}

nav ul li a:hover {
    color: #ED6A5A;
}

/* Contenido principal */
main {
    padding: 30px;
    background-color: #E6EBE0;
}

section {
    margin: 30px auto; /* Abreviación de margin-top y margin-bottom */
    width: 70%;
    background-color: #E6EBE0; /* Cambiado a un color diferente */
    color: #ED6A5A;
    padding: 30px;
    text-align: left;
}

section h1 {
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
}

table, td, th {
    border: 5px solid #36C9C6; /* Se corrigió el color del borde */
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #9BC1BC;
}

td {
    background-color: #E6EBE0;
}

#tabla_uno {
    border-color: #36C9C6; /* Se corrigió el color del borde */
    background-color: transparent;
}

#tabla_uno td, #tabla_uno th {
    border: 3px solid #36C9C6;
    color: #36C9C6; /* Color para td y th */
}

#tabla_uno tbody tr td {
    background-color: transparent;
}

#tabla_uno tbody tr:nth-child(odd) {
    background-color: #ED6A5A;
}

#tabla_uno tbody tr:nth-child(even) td { /* Aplicando color a los td pares */
    color: #36C9C6;
}

#tabla_uno tbody tr th { /* Cambiando a th dentro de tbody */
    color: #F4F1BB;
}

/* Estilo específico para la fila de Javier Rodríguez Martínez */
#tabla_uno tbody tr:nth-child(2) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(2) td { /* Cambiando color del texto en la fila de Javier */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Valeria Gómez Ruiz */
#tabla_uno tbody tr:nth-child(4) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(4) td { /* Cambiando color del texto en la fila de Valeria */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Luis */
#tabla_uno tbody tr:nth-child(6) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(6) td { /* Cambiando color del texto en la fila de Luis */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

#tabla_dos tbody tr td {
    background-color: transparent;
    color: #ED6A5A; /* Color de texto predeterminado */
}

#tabla_dos thead tr th {
    color: #F4F1BB;
}

#tabla_dos tbody tr:hover {
    background-color: #ED6A5A; /* Color de fondo al pasar el mouse */
}

#tabla_dos tbody tr:hover td {
    color: #36C9C6; /* Color de texto al pasar el mouse */
}


/* Estilo para el contenedor del formulario */
#enviar {
    width: 100%; /* Ajusta el ancho del formulario según tus preferencias */
    height: auto;
    margin: 50px auto; /* Agrega un margen superior e inferior para separarlo del resto de la página */
    padding: 20px; /* Agrega un poco de espacio interno al contenedor del formulario */
    background-color: #9BC1BC;
    display: block;
    border-radius: 10px; /* Añade bordes redondeados al contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al contenedor */
}


/* Estilo para etiquetas de los campos */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #134A59; /* Cambia el color del texto de los elementos <label> a #134A59 */
}


/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#fname {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}

#email {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}


/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #ED6A5A;
    color: white;
    padding: 10px 20px;
    border: none

;
    border-radius: 2px;
    cursor: pointer;
    width: 30%; /* Ocupa todo el ancho disponible */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Convierte el elemento en bloque para aplicar el margen automático */
}

section1 {
  background-color: transparent; /* Aquí el último valor (0.5) controla la transparencia */
}

section #Form label1 {
    color: #9BC1BC;
    font-weight: bold;
}
/* Estilos para el formulario */
#Form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
}

/* Estilos para los elementos del formulario */
#Form p {
    margin-bottom: 10px; /* Espacio entre el texto y los radio buttons */
}

#Form input[type="text"] {
    margin-left: 5px; /* Espacio entre el radio button 'Otro' y el campo de texto */
    margin-bottom: 10px; /* Espacio entre el campo de texto y el botón de enviar */
}

#Form input[type="submit"] {
    margin-top: 10px; /* Espacio sobre el botón de enviar */
}

/* Pie de página */
footer {
    background-color: #9BC1BC;
    height: 50px;
   } /* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #F4F1BB;
    text-align: center;
    width: 80%; /* Este ancho se aplica a todo el cuerpo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Encabezado */
header {
    background-color: #9BC1BC;
    height: 100px;
}

/* Navegación */
nav {
    height: 80px;
    background-color: #9BC1BC;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0; /* Abreviación de margin-left y margin-right */
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #E6EBE0;
}

nav ul li a:hover {
    color: #ED6A5A;
}

/* Contenido principal */
main {
    padding: 30px;
    background-color: #E6EBE0;
}

section {
    margin: 30px auto; /* Abreviación de margin-top y margin-bottom */
    width: 70%;
    background-color: #E6EBE0; /* Cambiado a un color diferente */
    color: #ED6A5A;
    padding: 30px;
    text-align: left;
}

section h1 {
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
}

table, td, th {
    border: 5px solid #36C9C6; /* Se corrigió el color del borde */
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #9BC1BC;
}

td {
    background-color: #E6EBE0;
}

#tabla_uno {
    border-color: #36C9C6; /* Se corrigió el color del borde */
    background-color: transparent;
}

#tabla_uno td, #tabla_uno th {
    border: 3px solid #36C9C6;
    color: #36C9C6; /* Color para td y th */
}

#tabla_uno tbody tr td {
    background-color: transparent;
}

#tabla_uno tbody tr:nth-child(odd) {
    background-color: #ED6A5A;
}

#tabla_uno tbody tr:nth-child(even) td { /* Aplicando color a los td pares */
    color: #36C9C6;
}

#tabla_uno tbody tr th { /* Cambiando a th dentro de tbody */
    color: #F4F1BB;
}

/* Estilo específico para la fila de Javier Rodríguez Martínez */
#tabla_uno tbody tr:nth-child(2) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(2) td { /* Cambiando color del texto en la fila de Javier */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Valeria Gómez Ruiz */
#tabla_uno tbody tr:nth-child(4) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(4) td { /* Cambiando color del texto en la fila de Valeria */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Luis */
#tabla_uno tbody tr:nth-child(6) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(6) td { /* Cambiando color del texto en la fila de Luis */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

#tabla_dos tbody tr td {
    background-color: transparent;
    color: #ED6A5A; /* Color de texto predeterminado */
}

#tabla_dos thead tr th {
    color: #F4F1BB;
}

#tabla_dos tbody tr:hover {
    background-color: #ED6A5A; /* Color de fondo al pasar el mouse */
}

#tabla_dos tbody tr:hover td {
    color: #36C9C6; /* Color de texto al pasar el mouse */
}


/* Estilo para el contenedor del formulario */
#enviar {
    width: 100%; /* Ajusta el ancho del formulario según tus preferencias */
    height: auto;
    margin: 50px auto; /* Agrega un margen superior e inferior para separarlo del resto de la página */
    padding: 20px; /* Agrega un poco de espacio interno al contenedor del formulario */
    background-color: #9BC1BC;
    display: block;
    border-radius: 10px; /* Añade bordes redondeados al contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al contenedor */
}


/* Estilo para etiquetas de los campos */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #134A59; /* Cambia el color del texto de los elementos <label> a #134A59 */
}


/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#fname {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}

#email {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}


/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #ED6A5A;
    color: white;
    padding: 10px 20px;
    border: none

;
    border-radius: 2px;
    cursor: pointer;
    width: 30%; /* Ocupa todo el ancho disponible */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Convierte el elemento en bloque para aplicar el margen automático */
}

section1 {
  background-color: transparent; /* Aquí el último valor (0.5) controla la transparencia */
}

section #Form label1 {
    color: #9BC1BC;
    font-weight: bold;
}
/* Estilos para el formulario */
#Form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
}

/* Estilos para los elementos del formulario */
#Form p {
    margin-bottom: 10px; /* Espacio entre el texto y los radio buttons */
}

#Form input[type="text"] {
    margin-left: 5px; /* Espacio entre el radio button 'Otro' y el campo de texto */
    margin-bottom: 10px; /* Espacio entre el campo de texto y el botón de enviar */
}

#Form input[type="submit"] {
    margin-top: 10px; /* Espacio sobre el botón de enviar */
}

/* Pie de página */
footer {
    background-color: #9BC1BC;
    height: 50px;
   } /* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #F4F1BB;
    text-align: center;
    width: 80%; /* Este ancho se aplica a todo el cuerpo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Encabezado */
header {
    background-color: #9BC1BC;
    height: 100px;
}

/* Navegación */
nav {
    height: 80px;
    background-color: #9BC1BC;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0; /* Abreviación de margin-left y margin-right */
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #E6EBE0;
}

nav ul li a:hover {
    color: #ED6A5A;
}

/* Contenido principal */
main {
    padding: 30px;
    background-color: #36C9C6;
}

section {
    margin: 30px auto; /* Abreviación de margin-top y margin-bottom */
    width: 70%;
    background-color: #E6EBEO; /* Cambiado a un color diferente */
    color: #ED6A5A;
    padding: 30px;
    text-align: left;
}

section h1 {
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
}

table, td, th {
    border: 5px solid #36C9C6; /* Se corrigió el color del borde */
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #9BC1BC;
}

td {
    background-color: #E6EBE0;
}

#tabla_uno {
    border-color: #36C9C6; /* Se corrigió el color del borde */
    background-color: transparent;
}

#tabla_uno td, #tabla_uno th {
    border: 3px solid #36C9C6;
    color: #36C9C6; /* Color para td y th */
}

#tabla_uno tbody tr td {
    background-color: transparent;
}

#tabla_uno tbody tr:nth-child(odd) {
    background-color: #ED6A5A;
}

#tabla_uno tbody tr:nth-child(even) td { /* Aplicando color a los td pares */
    color: #36C9C6;
}

#tabla_uno tbody tr th { /* Cambiando a th dentro de tbody */
    color: #F4F1BB;
}

/* Estilo específico para la fila de Javier Rodríguez Martínez */
#tabla_uno tbody tr:nth-child(2) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(2) td { /* Cambiando color del texto en la fila de Javier */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Valeria Gómez Ruiz */
#tabla_uno tbody tr:nth-child(4) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(4) td { /* Cambiando color del texto en la fila de Valeria */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Luis */
#tabla_uno tbody tr:nth-child(6) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(6) td { /* Cambiando color del texto en la fila de Luis */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

#tabla_dos tbody tr td {
    background-color: transparent;
    color: #ED6A5A; /* Color de texto predeterminado */
}

#tabla_dos thead tr th {
    color: #F4F1BB;
}

#tabla_dos tbody tr:hover {
    background-color: #ED6A5A; /* Color de fondo al pasar el mouse */
}

#tabla_dos tbody tr:hover td {
    color: #36C9C6; /* Color de texto al pasar el mouse */
}


/* Estilo para el contenedor del formulario */
#enviar {
    width: 100%; /* Ajusta el ancho del formulario según tus preferencias */
    height: auto;
    margin: 50px auto; /* Agrega un margen superior e inferior para separarlo del resto de la página */
    padding: 20px; /* Agrega un poco de espacio interno al contenedor del formulario */
    background-color: #9BC1BC;
    display: block;
    border-radius: 10px; /* Añade bordes redondeados al contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al contenedor */
}


/* Estilo para etiquetas de los campos */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #134A59; /* Cambia el color del texto de los elementos <label> a #134A59 */
}


/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#fname {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}

#email {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}


/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #ED6A5A;
    color: white;
    padding: 10px 20px;
    border: none

;
    border-radius: 2px;
    cursor: pointer;
    width: 30%; /* Ocupa todo el ancho disponible */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Convierte el elemento en bloque para aplicar el margen automático */
}

section1 {
  background-color: transparent; /* Aquí el último valor (0.5) controla la transparencia */
}

section #Form label1 {
    color: #9BC1BC;
    font-weight: bold;
}
/* Estilos para el formulario */
#Form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
}

/* Estilos para los elementos del formulario */
#Form p {
    margin-bottom: 10px; /* Espacio entre el texto y los radio buttons */
}

#Form input[type="text"] {
    margin-left: 5px; /* Espacio entre el radio button 'Otro' y el campo de texto */
    margin-bottom: 10px; /* Espacio entre el campo de texto y el botón de enviar */
}

#Form input[type="submit"] {
    margin-top: 10px; /* Espacio sobre el botón de enviar */
}

/* Pie de página */
footer {
    background-color: #9BC1BC;
    height: 50px;
   } /* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #F4F1BB;
    text-align: center;
    width: 80%; /* Este ancho se aplica a todo el cuerpo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Encabezado */
header {
    background-color: #9BC1BC;
    height: 100px;
}

/* Navegación */
nav {
    height: 80px;
    background-color: #9BC1BC;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0; /* Abreviación de margin-left y margin-right */
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #E6EBE0;
}

nav ul li a:hover {
    color: #ED6A5A;
}

/* Contenido principal */
main {
    padding: 30px;
    background-color: #E6EBE0;
}

section {
    margin: 30px auto; /* Abreviación de margin-top y margin-bottom */
    width: 70%;
    background-color: #E6EBE0; /* Cambiado a un color diferente */
    color: #ED6A5A;
    padding: 30px;
    text-align: left;
}

section h1 {
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
}

table, td, th {
    border: 5px solid #36C9C6; /* Se corrigió el color del borde */
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #9BC1BC;
}

td {
    background-color: #E6EBE0;
}

#tabla_uno {
    border-color: #36C9C6; /* Se corrigió el color del borde */
    background-color: transparent;
}

#tabla_uno td, #tabla_uno th {
    border: 3px solid #36C9C6;
    color: #36C9C6; /* Color para td y th */
}

#tabla_uno tbody tr td {
    background-color: transparent;
}

#tabla_uno tbody tr:nth-child(odd) {
    background-color: #ED6A5A;
}

#tabla_uno tbody tr:nth-child(even) td { /* Aplicando color a los td pares */
    color: #36C9C6;
}

#tabla_uno tbody tr th { /* Cambiando a th dentro de tbody */
    color: #F4F1BB;
}

/* Estilo específico para la fila de Javier Rodríguez Martínez */
#tabla_uno tbody tr:nth-child(2) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(2) td { /* Cambiando color del texto en la fila de Javier */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Valeria Gómez Ruiz */
#tabla_uno tbody tr:nth-child(4) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(4) td { /* Cambiando color del texto en la fila de Valeria */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Luis */
#tabla_uno tbody tr:nth-child(6) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(6) td { /* Cambiando color del texto en la fila de Luis */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

#tabla_dos tbody tr td {
    background-color: transparent;
    color: #ED6A5A; /* Color de texto predeterminado */
}

#tabla_dos thead tr th {
    color: #F4F1BB;
}

#tabla_dos tbody tr:hover {
    background-color: #ED6A5A; /* Color de fondo al pasar el mouse */
}

#tabla_dos tbody tr:hover td {
    color: #36C9C6; /* Color de texto al pasar el mouse */
}


/* Estilo para el contenedor del formulario */
#enviar {
    width: 100%; /* Ajusta el ancho del formulario según tus preferencias */
    height: auto;
    margin: 50px auto; /* Agrega un margen superior e inferior para separarlo del resto de la página */
    padding: 20px; /* Agrega un poco de espacio interno al contenedor del formulario */
    background-color: #9BC1BC;
    display: block;
    border-radius: 10px; /* Añade bordes redondeados al contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al contenedor */
}


/* Estilo para etiquetas de los campos */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #134A59; /* Cambia el color del texto de los elementos <label> a #134A59 */
}


/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#fname {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}

#email {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}


/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #ED6A5A;
    color: white;
    padding: 10px 20px;
    border: none

;
    border-radius: 2px;
    cursor: pointer;
    width: 30%; /* Ocupa todo el ancho disponible */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Convierte el elemento en bloque para aplicar el margen automático */
}

section1 {
  background-color: transparent; /* Aquí el último valor (0.5) controla la transparencia */
}

section #Form label1 {
    color: #9BC1BC;
    font-weight: bold;
}
/* Estilos para el formulario */
#Form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
}

/* Estilos para los elementos del formulario */
#Form p {
    margin-bottom: 10px; /* Espacio entre el texto y los radio buttons */
}

#Form input[type="text"] {
    margin-left: 5px; /* Espacio entre el radio button 'Otro' y el campo de texto */
    margin-bottom: 10px; /* Espacio entre el campo de texto y el botón de enviar */
}

#Form input[type="submit"] {
    margin-top: 10px; /* Espacio sobre el botón de enviar */
}

/* Pie de página */
footer {
    background-color: #9BC1BC;
    height: 50px;
   } /* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #F4F1BB;
    text-align: center;
    width: 80%; /* Este ancho se aplica a todo el cuerpo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Encabezado */
header {
    background-color: #9BC1BC;
    height: 100px;
}

/* Navegación */
nav {
    height: 80px;
    background-color: #9BC1BC;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0; /* Abreviación de margin-left y margin-right */
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #E6EBE0;
}

nav ul li a:hover {
    color: #ED6A5A;
}

/* Contenido principal */
main {
    padding: 30px;
    background-color: #E6EBE0;
}

section {
    margin: 30px auto; /* Abreviación de margin-top y margin-bottom */
    width: 70%;
    background-color: #E6EBE0; /* Cambiado a un color diferente */
    color: #ED6A5A;
    padding: 30px;
    text-align: left;
}

section h1 {
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
}

table, td, th {
    border: 5px solid #36C9C6; /* Se corrigió el color del borde */
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #9BC1BC;
}

td {
    background-color: #E6EBE0;
}

#tabla_uno {
    border-color: #36C9C6; /* Se corrigió el color del borde */
    background-color: transparent;
}

#tabla_uno td, #tabla_uno th {
    border: 3px solid #36C9C6;
    color: #36C9C6; /* Color para td y th */
}

#tabla_uno tbody tr td {
    background-color: transparent;
}

#tabla_uno tbody tr:nth-child(odd) {
    background-color: #ED6A5A;
}

#tabla_uno tbody tr:nth-child(even) td { /* Aplicando color a los td pares */
    color: #36C9C6;
}

#tabla_uno tbody tr th { /* Cambiando a th dentro de tbody */
    color: #F4F1BB;
}

/* Estilo específico para la fila de Javier Rodríguez Martínez */
#tabla_uno tbody tr:nth-child(2) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(2) td { /* Cambiando color del texto en la fila de Javier */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Valeria Gómez Ruiz */
#tabla_uno tbody tr:nth-child(4) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(4) td { /* Cambiando color del texto en la fila de Valeria */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

/* Estilo específico para la fila de Luis */
#tabla_uno tbody tr:nth-child(6) {
    background-color: #36C9C6; /* Fondo en color #36C9C6 */
}

#tabla_uno tbody tr:nth-child(6) td { /* Cambiando color del texto en la fila de Luis */
    color: #ED6A5A; /* Texto en color #ED6A5A */
}

#tabla_dos tbody tr td {
    background-color: transparent;
    color: #ED6A5A; /* Color de texto predeterminado */
}

#tabla_dos thead tr th {
    color: #F4F1BB;
}

#tabla_dos tbody tr:hover {
    background-color: #ED6A5A; /* Color de fondo al pasar el mouse */
}

#tabla_dos tbody tr:hover td {
    color: #36C9C6; /* Color de texto al pasar el mouse */
}


/* Estilo para el contenedor del formulario */
#enviar {
    width: 100%; /* Ajusta el ancho del formulario según tus preferencias */
    height: auto;
    margin: 50px auto; /* Agrega un margen superior e inferior para separarlo del resto de la página */
    padding: 20px; /* Agrega un poco de espacio interno al contenedor del formulario */
    background-color: #9BC1BC;
    display: block;
    border-radius: 10px; /* Añade bordes redondeados al contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al contenedor */
}


/* Estilo para etiquetas de los campos */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #134A59; /* Cambia el color del texto de los elementos <label> a #134A59 */
}


/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#fname {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}

#email {
    background-color: #E6EBE0;
    color: #ED6A5A;
    border-radius: 10px; /* Puedes ajustar el valor de acuerdo a tus preferencias */
}


/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #ED6A5A;
    color: white;
    padding: 10px 20px;
    border: none

;
    border-radius: 2px;
    cursor: pointer;
    width: 30%; /* Ocupa todo el ancho disponible */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Convierte el elemento en bloque para aplicar el margen automático */
}

section1 {
  background-color: transparent; /* Aquí el último valor (0.5) controla la transparencia */
}

section #Form label1 {
    color: #9BC1BC;
    font-weight: bold;
}

  /* Estilos para el formulario */
        #Form {
            display: flex;
            flex-direction: column;
            align-items: flex-start; /* Alinear elementos a la izquierda */
        }
        /* Estilo para los elementos del formulario */
        #Form p, #Form input[type="text"], #Form input[type="submit"] {
            margin-bottom: 5px; /* Espacio entre elementos */
        }

.question {
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
  input[type="button"] {
            display: inline-block;
            padding: 10px 20px;
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: #9BC1BC;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        input[type="button"]:hover {
            background-color: #9BC1BC;
        }

        input[type="text"] {
            display: inline-block;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.3s;
        }

        input[type="text"]:focus {
            border-color: #9BC1BC;
        }

button {
            background-color: #36C9C6; /* Color de fondo */
            color: white; /* Color del texto */
            padding: 10px 20px; /* Espacio alrededor del texto */
            border: none; /* Sin borde */
            cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
            border-radius: 5px; /* Bordes redondeados */
            text-align: center; /* Alinear texto al centro */
            text-decoration: none; /* Sin decoración de texto */
            display: inline-block; /* Mostrar como elemento de bloque */
            font-size: 16px; /* Tamaño del texto */
        }

        /* Estilos cuando pasas el cursor sobre el botón */
        button:hover {
            background-color: #36C9C6; /* Cambiar color de fondo */
        }
 form {
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"],
    select {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 5px;
    }

    button[type="submit"] {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #0056b3;
    }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 300px;
  height: 200px;
  margin: 10px;
  transition: filter 0.3s ease;
}

.img1 {
  filter: blur(5px);
}

.img2 {
  filter: brightness(0.4);
}

.img3 {
  filter: contrast(200%);
}

.img4 {
  filter: drop-shadow(16px 16px 20px blue);
}

.img5 {
  filter: grayscale(50%);
}

.img6 {
  filter: hue-rotate(90deg);
}

.img7 {
  filter: invert(75%);
}

/* Pie de página */
footer {
    background-color: #9BC1BC;
    height: 50px;
   } body main audio {
}
h6{
	background-color: #9BC1BC;
}
main section ul li{
	display: inline-block;
	list-style: none;
}
main section ul li a{
	text-decoration: none;
	margin: 10px;
}
main section ul li a:hover{
	color: brown;
	background-color: cadetblue;
	text-decoration: center;
	margin: 10px;
}